export(folds)
export(dummies)
export(logl)
export(gen_latin)
export(gen_sobol)
export(gen_unifm)

export(pnn.fit)
export(pnn.predone)
export(pnn.predict)
export(pnn.parpred)
export(pnn.search_logl)
export(pnn.optmiz_logl)
export(pnn.x_imp)
export(pnn.x_pfi)
export(pnn.imp)
export(pnn.pfi)

import(stats)
import(randtoolbox)
import(lhs)
import(parallel)
import(datasets)

